<%- include("header") -%>

<h2><%= listTitle %></h2>

<p>Hey There its a simple TodoList App. It follows the core of CRUD operations! It has custom Routes which means you can add different list with different items. </p>

<%- include("footer") -%>